body {
	font-family: "Open Sans", Helvetica, Aerial, sans-serif;
	font-size: 1.4em;
	font-weight: 300;
	color: #111;
	background-color: #fdfdfd;
	padding: 2em;
}

h1 {
	font-family: "Titillium Web", "Open Sans", sans-serif;
	color: #522d80
}

figcaption{
	background-color: black;
	color: white;
	font-style: italic;
	text-align: center;
}

.article-source {
	font-size: .83125em;
	color: #828282;
}

.flex-container {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
}

.table-figure {
	display: flex;
	justify-content: center;
}

.chart-figure {
	margin-top: 2em;
	margin-bottom: 2em;
}